*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    overflow: hidden;
}

/* Nav Code */
.logo{
    font-size: 40px!important;
    padding-left: 30px;
    font-family: 'Crimson Text';
 }
 .logo a{
    text-decoration: none;
    color: rgb(241, 240, 240);
 }
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to right, #240e7d 0%, white 50%);
    padding: 13px;
}
/* End of Nav Code */

body {
    background-color: white;
}
.info p{
    background-color: inherit;
    position: absolute;
    text-align: center;
    margin-top: 20px;
    margin-left: 18%;
    margin-right: 18%;
    padding:10px;
    height: auto;
    width: 64%;
    outline: 2px solid #D3D3D3;
    font-family: 'Crimson Text';
    font-size: 20px;
    border-radius: 10px;
}
.info h2{
    background-color: inherit;
    margin-left: 20%;
    margin-top: 30px;
    font-family: 'Crimson Text';
    font-size: 35px;
}
.calendly{
    position: relative;
    text-align: center;
    margin-top: 180px;
}
.btncalendly{
    cursor: pointer;
    background-color: #57229c;
    border-color: black;
    border-width: 2px;
    font-size: 25px;
    font-family: 'Crimson Text';
    padding: 5px 10px;
    color: white;
}
.btncalendly:hover{
    background-color: #441b7a;
    transition: ease-in .2s;
}
.footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 20px;
    background-color: #240e7d;
}